# UCI Datasets

In [1]:
import os
import pandas as pd
import numpy as np
from mclearn.tools import fetch_data
%load_ext autoreload
%autoreload 2

In [2]:
uci_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/'

The standard datasets are taken from the [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/index.html). For each dataset, header rows are added manually.

## Binary

Ionosphere radar data, where 'good' is the positive label.

In [3]:
url = uci_url + 'ionosphere/ionosphere.data'
dest = 'data/ionosphere.csv'
header = ','.join("x{0}".format(i) for i in np.arange(1, 35)) + ',target'
data = fetch_data(url, dest, header, label={'b': 0, 'g': 1})
data.head()

,target,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x25,x26,x27,x28,x29,x30,x31,x32,x33,x34
0,1,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,...,0.56811,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300
1,0,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,...,-0.20332,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447
2,1,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,...,0.57528,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238
3,0,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,...,1.00000,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000
4,1,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,...,0.03286,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697

Pima Indians diabetes.

In [4]:
url = uci_url + 'pima-indians-diabetes/pima-indians-diabetes.data'
dest = 'data/pima.csv'
header = 'preg,glucose,diastolic,skin,insulin,bmi,pedi,age,target'
remove_missing = lambda df: df[df['diastolic'] > 0]
data = fetch_data(url, dest, header, process_fn=remove_missing)
data.head()

   target  preg  glucose  diastolic  skin  insulin   bmi   pedi  age
0       1     6      148         72    35        0  33.6  0.627   50
1       0     1       85         66    29        0  26.6  0.351   31
2       1     8      183         64     0        0  23.3  0.672   32
3       0     1       89         66    23       94  28.1  0.167   21
4       1     0      137         40    35      168  43.1  2.288   33

Sonar data, where we want to discriminate between sonar signals bounced off a metal cylinder and those bounced off a roughly cylindrical rock. Metal cylinder is considered as the positive label.

In [5]:
url = uci_url + 'undocumented/connectionist-bench/sonar/sonar.all-data'
dest = 'data/sonar.csv'
header = ','.join("e{0}".format(i) for i in np.arange(1, 61)) + ',target'
data = fetch_data(url, dest, header, label={'R': 0, 'M': 1})
data.head()

,target,e1,e2,e3,e4,e5,e6,e7,e8,e9,...,e51,e52,e53,e54,e55,e56,e57,e58,e59,e60
0,0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,...,0.0232,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032
1,0,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,...,0.0125,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044
2,0,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,...,0.0033,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078
3,0,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,...,0.0241,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117
4,0,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,...,0.0156,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094

Prognostic Wisconsin breast cancer. Recurrence is the positive label.

In [6]:
url = uci_url + 'breast-cancer-wisconsin/wpbc.data'
dest = 'data/wpbc.csv'
header = 'id,target,time,rad1,text1,peri1,area1,smooth1,compact1,concave1,' \
         'conpt1,sym1,fract1,rad2,text2,peri2,area2,smooth2,compact2,concave2,' \
         'conpt2,sym2,fract2,rad3,text3,peri3,area3,smooth3,compact3,concave3,' \
         'conpt3,sym3,fract3,tumor,lymph'
data = fetch_data(url, dest, header, label={'N': 0, 'R': 1})
data.head()

,target,rad1,text1,peri1,area1,smooth1,compact1,concave1,conpt1,sym1,...,peri3,area3,smooth3,compact3,concave3,conpt3,sym3,fract3,tumor,lymph
0,0,18.02,27.60,117.50,1013.0,0.09489,0.1036,0.1086,0.07055,0.1865,...,139.70,1436.0,0.1195,0.1926,0.3140,0.1170,0.2677,0.08113,5.0,5
1,0,17.99,10.38,122.80,1001.0,0.11840,0.2776,0.3001,0.14710,0.2419,...,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,3.0,2
2,0,21.37,17.44,137.50,1373.0,0.08836,0.1189,0.1255,0.08180,0.2333,...,159.10,1949.0,0.1188,0.3449,0.3414,0.2032,0.4334,0.09067,2.5,0
3,0,11.42,20.38,77.58,386.1,0.14250,0.2839,0.2414,0.10520,0.2597,...,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,2.0,0
4,1,20.29,14.34,135.10,1297.0,0.10030,0.1328,0.1980,0.10430,0.1809,...,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,3.5,0

## Multiclass

Classic iris dataset from Fisher with three classes.

In [7]:
url = uci_url + 'iris/iris.data'
dest = 'data/iris.csv'
header = 'sepal_l,sepal_w,petal_l,petal_w,target'
data = fetch_data(url, dest, header)
data.head()

        target  sepal_l  sepal_w  petal_l  petal_w
0  Iris-setosa      5.1      3.5      1.4      0.2
1  Iris-setosa      4.9      3.0      1.4      0.2
2  Iris-setosa      4.7      3.2      1.3      0.2
3  Iris-setosa      4.6      3.1      1.5      0.2
4  Iris-setosa      5.0      3.6      1.4      0.2

Glass identification, seven classes.

In [8]:
url = uci_url + 'glass/glass.data'
dest = 'data/glass.csv'
header = 'ri,na,mg,al,si,k,ca,ba,fe,target'
data = fetch_data(url, dest, header)
data.head()

   target       ri     na    mg    al     si     k    ca  ba  fe
1       1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75   0   0
2       1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83   0   0
3       1  1.51618  13.53  3.55  1.54  72.99  0.39  7.78   0   0
4       1  1.51766  13.21  3.69  1.29  72.61  0.57  8.22   0   0
5       1  1.51742  13.27  3.62  1.24  73.08  0.55  8.07   0   0

Classifying a given sihouette as one of four types of vehicle.

In [9]:
names = ['xaa', 'xab', 'xac', 'xad', 'xae', 'xaf', 'xag', 'xah', 'xai']
urls = ['{0}statlog/vehicle/{1}.dat'.format(uci_url, x) for x in names]
dest = 'data/vehicle.csv'
header = 'compact circ dcirc rrat prar mlen scat elon prr mlenr svarmaj ' \
         'svarmin gy skewmaj skewmin kurtmin kurtmaj hol target placeholder'
data = fetch_data(urls, dest, header, sep=' ')
data.head()

,target,compact,circ,dcirc,rrat,prar,mlen,scat,elon,prr,mlenr,svarmaj,svarmin,gy,skewmaj,skewmin,kurtmin,kurtmaj,hol
0,van,95,48,83,178,72,10,162,42,20,159,176,379,184,70,6,16,187,197
1,van,91,41,84,141,57,9,149,45,19,143,170,330,158,72,9,14,189,199
2,saab,104,50,106,209,66,10,207,32,23,158,223,635,220,73,14,9,188,196
3,van,93,41,82,159,63,9,144,46,19,143,160,309,127,63,6,10,199,207
4,bus,85,44,70,205,103,52,149,45,19,144,241,325,188,127,9,11,180,183

Using chemical analysis to determine the origin of wines.

In [10]:
url = uci_url + 'wine/wine.data'
dest = 'data/wine.csv'
header = 'target,alcohol,malic,ash,alcash,mg,phenols,' \
         'flav,nonflav,proan,color,hue,od280,proline'
data = fetch_data(url, dest, header)
data.head()

,target,alcohol,malic,ash,alcash,mg,phenols,flav,nonflav,proan,color,hue,od280,proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735